@model IEnumerable<ModelLayer.Employee>

@{
    ViewBag.Title = "Employee List";
}

<h2>Employee List</h2>
<div>
    <table class="table">
        @{
            <thead class="thead-dark">
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Name</th>
                    <th scope="col">Contact Number</th>
                    <th scope="col">Address</th>
                </tr>
            </thead>
            foreach (var employee in Model)
            {
                <tbody>
                    <tr>
                        <td>
                            @employee.ID
                        </td>
                        <td>
                            @employee.Name
                        </td>
                        <td>
                            @employee.ContactNumber
                        </td>
                        <td>
                            @employee.Address
                        </td>
                    </tr>
                </tbody>
            }
        }
    </table>
</div>
